.cardparent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;
  gap: 10px;
}

.loadcard {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 2px dashed #1083c5;
  align-items: center;
  margin: auto;
  margin-top: 25px;
  color: gainsboro;
}

.loadcard > svg {
  color: black;
  font-size: 22px;
  margin: 30% 40%;
}

.card > div > h6 {
  font-size: 18px;
  color: #2d3436;
  font-weight: 550;
  text-align: center;
}
