.cardparent{
    display: flex;
    gap: 15px;
}
.card1{
    margin: auto;


    width: 30%;
    height: 190px;
}

.loadcard1{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border:  1px dashed #d5dce0;
    margin-top: 30px;
    margin-left:45px;
    color: gainsboro;

}

.card1icon{
    margin-left:13px ;
    color:  black;
    margin-top: 30px;
}
.loadcard3{
    width: 80%;
    height: 100px;
    border:  1px solid black;
    margin-top: 20px;
    margin-left:15px;
    color: gainsboro;

}
